<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
    </configSections>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="AWSAccessKey" value="AKIAJKMGKNYEB5HPRI3A"/>
        <add key="AWSSecretKey" value="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"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpHandlers>
            <add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
        </httpHandlers>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="facebookredirect.axd" verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
        </handlers>
    </system.webServer>
    <facebookSettings appId="112850195464492" appSecret="47481fcc15dfcabca046171474510357" canvasPage="http://apps.facebook.com/connectussample/" canvasUrl="http://localhost:5000/" />
</configuration>